.MenuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ButtonsContainer{
    display: flex;
  }
  
  .RunningHead{
    color: white;
    font-family: Impact, fantasy;	
    font-size: 30px;
    text-align: left;
  }
  
  .Header{
    color: white;
    font-family: Impact, fantasy;	
    font-size: 70px;
    text-align: center;
  }
  
  
  .Body{
    color: white;
    margin-left: 160px;
    margin-right: 160px;
    font-family: "Trebuchet MS", sans-serif;	
    text-align: center;
  }
  
  .Button {
    background-color: #d1b3ce;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .Button:hover {opacity: 1}
  