.MenuBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ButtonsContainer{
  display: flex;
}

.RunningHead{
  color: white;
  font-family: Gill Sans, sans-serif;
  text-align: left;
}

.Header{
  color: white;
  font-family: "Georgia", serif;
  font-size: 70px;
  text-align: center;
}


.Body{
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.Button{
  color: white;
  margin-left: 10px;
}
