.MenuBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ButtonsContainer{
  display: flex;
}

.RunningHead{
  color: white;
  font-family: Impact, fantasy;	
  text-align: left;
}

.Header{
  color: white;
  font-family: Impact, fantasy;	
  font-size: 70px;
  text-align: center;
}


.Body{
  color: white;
  margin-left: 80px;
  margin-right: 80px;
  font-family: "Trebuchet MS", sans-serif;	
  text-align: center;
}

.Button{
  color: white;
  margin-left: 10px;
}
