.MenuBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ButtonsContainer{
  margin-right: 30px;
  display: flex;
}

.RunningHead{
  margin-left: 30px;
  color: white;
  font-family: Impact, fantasy;	
  text-align: left;
}

.Header{
  color: white;
  font-family: Impact, fantasy;	
  font-size: 70px;
  text-align: center;
}

.Body{
  color: white;
  margin-left: 260px;
  margin-right: 260px;
  font-family: "Trebuchet MS", sans-serif;	
  text-align: center;
}

.Button button{
  background-color: transparent;
  color: white;
  border: 0px solid white;
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 10px;
  transition-duration: 0.3s;
}
  
.Button button:hover{
  background-color: white;
  color: black;
  border: 0px solid white;
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 10px;
  transition-duration: 0.3s;
}

label{
  align-items: center;
  font-family: "Trebuchet MS", sans-serif; 
}
  
select#state {
  font-family: "Trebuchet MS", sans-serif; 
}
  
input[type="button"] {
  background-color: transparent;
  color: white;
  border: 0px solid white;
  font-family: "Trebuchet MS", sans-serif; /* Change to the desired font */
  transition-duration: 0.3s;
  }
  
  input[type="button"]:hover{
  background-color: white;
  color: black;
  border: 0px solid white;
  font-family: "Trebuchet MS", sans-serif; /* Change to the desired font */
  transition-duration: 0.3s;
  }
  
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
