/*
    results-page.css
    Yeseo Jeon, Kritika Pandit, Luha Yang, Daniel Lumbu, Stella Thompson
    March 5, 2024

    CSS for the page that pops up after user selects a county.
*/


.MenuBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.ButtonsContainer{
  margin-right: 30px;
  display: flex;
}

.RunningHead{
  margin-left: 30px;
  color: white;
  font-family: Impact, fantasy;	
  text-align: left;
}

.Header{
  color: white;
  font-family: Impact, fantasy;	
  font-size: 70px;
  text-align: center;
}

.Button button{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 10px;
  transition-duration: 0.3s;
}
  
.Button button:hover{
  background-color: white;
  color: white;
  border: 2px solid white;
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 10px;
  transition-duration: 0.3s;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.piechartsandkey {
  display: flex;
  justify-content: space-between;
}

.piechartscontainer {
  margin-left: 400px;
  margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
      width: 200px;
      height: 200px;
    position: relative;
    }

  .keycontainer {
  margin-right: 90px;
    position: relative;
    width: 200px;
    height: 200px;
     overflow: hidden;
  }
  
  .buttonsContainer {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 2;
    top: 0; 
    left: 0; 
  }
  
  .baseShape {
    height: 200px; 
    width: 200px;
    background-color: AntiqueWhite;
    position: absolute; 
    z-index: 1;
  }
  
  .rectangle1 {
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: "Trebuchet MS", sans-serif;	
    position: absolute;
    color: white;
    height: 30px;
    width: 70px;
    background-color: #950740; 
    top: 30px; 
    left: 20px; 
  }
  
  .rectangle2 {
  display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: "Trebuchet MS", sans-serif;	
    position: absolute;
    color: white;
    height: 30px;
    width: 70px;
    background-color: CornflowerBlue; 
    top: 70px; 
    left: 20px;  
  }
  
  .rectangle3 {
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: "Trebuchet MS", sans-serif;	
    position: absolute;
    color: white;
    height: 30px;
    width: 70px;
    background-color: DarkCyan; 
    top: 110px; 
    left: 20px;  
  }
  
  .rectangle4 {
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: "Trebuchet MS", sans-serif;	
    position: absolute;
    color: white;
    height: 30px;
    width: 70px;
    background-color: DarkSlateBlue; 
    top: 150px; 
    left: 20px;  
  }
  
  .rectangle5 {
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: "Trebuchet MS", sans-serif;	
    position: absolute;
    color: white;
    height: 30px;
    width: 70px;
    background-color: Chocolate; 
    top: 30px; 
    left: 110px;  
  }
  
  .rectangle6 {
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: "Trebuchet MS", sans-serif;	
    position: absolute;
    color: white;
    height: 30px;
    width: 70px;
    background-color: GoldenRod; 
    top: 70px; 
    left: 110px;  
  }
  
  .rectangle7 {
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: "Trebuchet MS", sans-serif;	
    position: absolute;
    color: white;
    height: 30px;
    width: 70px;
    background-color: DarkSeaGreen; 
    top: 110px; 
    left: 110px;  
  }
  
  .rectangle8 {
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: "Trebuchet MS", sans-serif;	
    position: absolute;
    color: white;
    height: 30px;
    width: 70px;
    background-color: DarkMagenta; 
    top: 150px; 
    left: 110px;  
  }
  
  .keyp {
  font-size: 13px;
    position: absolute;
    text-align: center;
    top: 6px; 
    left: 89px; 
    margin: 0; 
    font-family: "Trebuchet MS", sans-serif;	
    z-index: 4;
  }


  /* Setting the color of the keys same as the color of each of the piechart elements */

  .rectangle1 { background-color: #856088; } 
  .rectangle2 { background-color: #78184A; } 
  .rectangle3 { background-color: #6d296d; } 
  .rectangle4 { background-color: #7260a9; } 
  .rectangle5 { background-color: #B768A2; } 
  .rectangle6 { background-color: #86608E; } 
  .rectangle7 { background-color: #86608E; } 
  .rectangle8 { background-color: #D8BFD8; } 
  


  /* var demographicsColors = ['#D8BFD8',
  
  '#5a3749', '#FAE6FA', '#BDB5D5', '#B768A2', '#86608E']; 
var votingResultsColors = ['#856088', '#78184A']; 

// Pie chart for the Demographics data from the elections
var demographicsData = [
    { category: 'hispanic', value: dermo[0]},
    { category: 'white', value: dermo[1]},
    { category: 'black', value: dermo[2]},
    { category: 'native', value: dermo[3]},
    { category: 'asian', value: dermo[4]},
    { category: 'pacific', value: dermo[5]}
]; */
