/*
    results-page.css
    Yeseo Jeon, Stella Thompson, Kritika Pandit, Luha Yang, Daniel Lumbu 
    March 5, 2024

    CSS for the page that shows the results.
*/


.animate {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {color: transparent;}
    to {color: white;}
  }
  
  .MenuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ButtonsContainer{
    margin-right: 30px;
    display: flex;
  }
  
  .RunningHead{
    margin-left: 30px;
    color: white;
    font-family: Impact, fantasy;	
    text-align: left;
  }
  
  .Header{
    color: white;
    font-family: Impact, fantasy;	
    font-size: 70px;
    text-align: center;
  }
  
  .Button button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-family: "Trebuchet MS", sans-serif;
    margin-left: 10px;
    transition-duration: 0.3s;
  }
    
  .Button button:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
    font-family: "Trebuchet MS", sans-serif;
    margin-left: 10px;
    transition-duration: 0.3s;
  }
    