/*
    styles.css
    Yeseo Jeon, Kritika Pandit, Luha Yang, Daniel Lumbu, Stella Thompson
    March 5, 2024

    CSS for the piecharts 
*/


body, html {
  height: 100%;
  margin: 0;
  display: flex;
  background-image: url('../static/Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.MenuBar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px; 
}

.RunningHead {
color: white;
font-family: Impact, fantasy;
margin-left: 0; 
}

.Header {
color: white;
font-family: Impact, fantasy;
font-size: 70px;
text-align: center;
flex-grow: 1; 
}

.Button button {
background-color: transparent;
color: white;
border: 2px solid white;
font-family: "Trebuchet MS", sans-serif;
margin-left: 0; 
transition-duration: 0.3s;
}


.Button button:hover {
background-color: white;
color: black;
border: 2px solid white;
font-family: "Trebuchet MS", sans-serif;
margin-left: 0; 
transition-duration: 0.3s;
}

.container {
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
text-align: center;
background-color: rgb(206, 196, 255);
border-radius: 8px;
height: 100vh;
}


