/*style.css
/* Author: Kritika Pandit */ 


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.container {
    display: flex;
}

.flower {
    margin: 20px;
    position: relative;
    border-radius: 300px;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.petal {
    position: absolute;
    left: 150px;
    top: -150px;
    background: lavender;
    height: 300px;
    width: 300px;
    box-shadow: 0 0 60px -5px black;
    transform-origin: bottom left;
}




