<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/about-us-page.css">
<style>
body {
  background-image: url('../static/Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>

<div class="MenuBar">
  <h4 class="RunningHead">Election Data Visualizer</h4>
  
  <div class="ButtonsContainer">
  <p class="Button">
    <a href="/">
      <button>
        Home
      </button>
    </a>
  </p>
  
  <p class="Button">
    <a href="/aboutus">
      <button>
        About Us
      </button>
    </a>
  </p>
  </div>
  </div>

  <h1 class="Header">Find Your County's Political Preference:</h1>

<p class="Body">
  We are a group of second-year students studying Computer Science at Carleton College. This website
  was created for our Software Design class. The project uses a database, SQL queries, python, HTML, JavaScript,
  and CSS. For most of us, it is our first foray into website design and front-end implementation.
</p>

<img src="../static/Headshots/Stella-Headshot.png" alt="Photo of Stella"/>
<img src="../static/Headshots/Yeseo-Headshot.png" alt="Photo of Yeseo"/>
<img src="../static/Headshots/Kritika-Headshot.png" alt="Photo of Kritika"/>
<img src="../static/Headshots/Luha-Headshot.png" alt="Photo of Luha"/>
<img src="../static/Headshots/Daniel-Headshot.png" alt="Photo of Daniel"/>

</body>
</html>
