<!-- index.html -->
<!-- Author: Kritika Pandit -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Election Data Visualizer</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<script>
        var votesdiv = {{votesdiv|tojson|safe }};
        var dermo = {{dermo|tojson|safe }};
    </script>

    <div class="container">
        <div class="flower" id="flower1">
            <div class="label">Pie Chart 1</div>

        </div>
        <div class="flower" id="flower2">
            <div class="label">Pie Chart 2</div>

        </div>
    </div>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/script.js" defer></script>
</body>
</html>
