<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Election Data Visualizer</title>
    <link rel="stylesheet" type="text/css" href="/static/results-page.css">
</head>
<body>
  <div class="MenuBar">
    <h4 class="RunningHead">Election Data Visualizer</h4>
    
    <div class="ButtonsContainer">
    <p class="Button">
      <a href="/">
        <button>
          Home
        </button>
      </a>
    </p>
    
    <p class="Button">
      <a href="/aboutus">
        <button>
          About Us
        </button>
      </a>
    </p>
    </div>
    </div>

    <div class="Content">
      
    <h1 class = "Header">Results:</h1>

        <br><br><br><br>

<script>
        var votesdiv = {{votesdiv|tojson|safe }};
        var dermo = {{dermo|tojson|safe }};
    </script>

    <div class="container">
        <div class="flower" id="flower1">
            <div class="label">Pie Chart 1</div>

        </div>
        <div class="flower" id="flower2">
            <div class="label">Pie Chart 2</div>

        </div>
    </div>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/script.js" defer></script>

    <br><br>

    <div class="keycontainer">
      <p class="keyp">Key</p>
      <div class="baseShape"></div>
      <div class="buttonsContainer">
        <div button class="rectangle1">Trump</div>
        <div class="rectangle2">Clinton</div>
        <div class="rectangle3">Black</div>
        <div class="rectangle4">White</div>
        <div class="rectangle5">Asian</div>
        <div class="rectangle6">Native</div>
        <div class="rectangle7">Pacific</div>
        <div class="rectangle8">Hispanic</div>
      </div>
    </div>
  </div>

</body>
</html>