<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/select-county-page.css">
<style>
body {
  background-image: url('../static/Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>

  <div class="MenuBar">
    <h4 class="RunningHead">Election Data Visualizer</h4>
    
    <div class="ButtonsContainer">
    <p class="Button">
      <a href="/">
        <button>
          Home
        </button>
      </a>
    </p>
    
    <p class="Button">
      <a href="/aboutus">
        <button>
          About Us
        </button>
      </a>
    </p>
    </div>
    </div>
    
    <h1 class = "Header"> Select a county in {{fullstate}}</h1>

    <p class="Body">
      Now, select a county from {{fullstate}} to see how Trump and Clinton performed in 2016. <br><br><br>
    </p>

  <form action="/action_page.php">
    <label for="county">County:</label>
    <select name="county" id="county">
        <option value="">Select a county</option>
        {% for county in counties %}
            <option value="{{ county[0] }}">{{ county[0] }}</option>
        {% endfor %}
    </select>

  <form action="/action_page.php">
    <label for="year">State:</label>
    <select name="year" id="year">
      <option value="">Select a year</option>
      <option value="2016">2016</option>
      <option value="2020">2020</option>
    </select>

  <br><br>
  <input type="button" value="Go!" onclick="handleSubmit()">
  </form> 
    

  <script>
    function handleSubmit() {
      var state = "{{state|safe }}";
      var selectedCountyId = document.getElementById("county").value;
      window.location.href = "/results/"+ state +"/" + selectedCountyId + "/2016";

    }
    </script>

</body>
</html>
